<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>お気に入り</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="results">
    <% videos.forEach(video => { %>
      <div class="result-item">
        <a href="/w/<%= video.id %>">
          <img src="<%= video.thumbnails.pop().url.slice(19); %>" class="result-item-img" alt="<%= video.title %>">
        </a>
        <p class="channel-name">
          <a href="/c/<%= video.author.id %>"><%= video.author.name %></a>
        </p>
        <p class="video-title">
          <%= video.title %>
        </p>
        <p class="video-meta">
          <%= video.published %>
        </p>
      </div>
    <% }); %>
  </div>
</body>
</html>
