<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title><%= info.videoDetails.title %></title>
  <meta name="description" content="<%= info.videoDetails.description || "" %>">
  <meta property="og:title" content="<%= info.videoDetails.title %> - ytmous">
  <meta property="og:type" content="video">
  <meta property="og:video" content="/stream/<%= id %>">
  <meta property="og:video:type" content="video/mp4">
  <meta property="og:video" content="/stream/<%= id %>">
  <meta property="og:video:type" content="text/html">
  <meta property="twitter:player" content="/stream/<%= id %>">
  <meta name="twitter:image" content="<%= info.videoDetails.thumbnails.pop().url.slice(19); %>">
  <meta property="og:description" content="<%= info.videoDetails.description || "" %>">
  <meta property="og:site_name" content="ytmous | Watch Anonymously!">
  <meta property="og:image" content="<%= info.videoDetails.thumbnails.pop().url.slice(19); %>">
  <meta name="theme-color" content="#ff8181">
  <link rel="shortcut icon" href="/logo.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="author" content="ytmous | Watch Anonymously!">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/plyr.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/plyr.polyfilled.js"></script>
</head>

<body>
<header>
  <div class="banner">
   <button class="btn btn-link" onclick="window.location.href='/'">ホーム🏠</button>
   <button class="btn btn-link" onclick="window.location.href='/blog'">お知らせ</button>
  <!-- 他のボタンもここに追加できます -->
   <form class="d-flex" action="/s">
    <input type="text" name="q" class="form-control" placeholder="キーワードを入力..." required>
   </form>
 </div>
</header>
  <div class="card">
    <video id="player" playsinline poster="<%= info.videoDetails.thumbnails.pop().url.slice(19); %>" controls src="/s/<%= id %>" width="100%"></video>
    <div class="card-header">
      <small class="text-muted"><a href="/c/<%= info.videoDetails.author.id %>"><%= info.videoDetails.author.name %></a></small>
    </div>
    <div class="card-body">
      <h5><%= info.videoDetails.title %></h5>
      <p><%- (info.videoDetails.description || "").replace(/\n/g, "<br>") %></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><%= info.videoDetails.uploadDate %></small>
    </div>
  </div><br>
      
  <div class="row row-cols-1 row-cols-md-3 g-4 results">
    <% info.related_videos.forEach(video => { %>
    <div class="col">
      <div class="result-item card h-100">
        <div class="card-header">
          <small class="text-muted"><a href="/c/<%= video.author.id %>"><%= video.author.name %></a></small>
        </div>
        <a href="/w/<%= video.id %>"><img src="<%= video.thumbnails.pop().url.slice(19); %>" class="card-img-top" alt="<%= video.title %>"></a>
        <div class="card-body">
          <h5 class="card-title"><%= video.title %></h5>
        </div>
        <div class="card-footer">
          <small class="text-muted"><%= video.published %></small>
        </div>
      </div>
    </div>
    <% }); %>
  </div>

  <script>
   document.addEventListener('DOMContentLoaded', () => {
     const player = new Plyr('video', {
       controls: [
         'play-large', 'play', 'progress', 'current-time', 'duration',
         'download', 'fullscreen'
       ],
       title: '<%= info.videoDetails.title %>,',
       iconUrl: '/plyr.svg',
       autopause: false,
       debug: true
     });

     player.on('error', err => {
     	console.error(err);
     	location.reload();
     });
   });
  </script>
  <style>
	* {
		--plyr-color-main: #ff8181;
	}

	a {
		color: #ff8181;
	}
  </style>
</body>

</html>
